/* src/index.css */
:root {
  /* 共通変数 */
  --bg-color: #fcfcfc;
  --text-color: #333333;
  --accent-color: #8c7b75;

  /* フォント設定 */
  font-family: "Shippori Mincho", "Yu Mincho", "YuMincho", serif;
  line-height: 1.8;
  font-weight: 400;

  color-scheme: light;
  color: var(--text-color);
  background-color: var(--bg-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 320px;
}

a {
  color: var(--text-color);
  text-decoration: none;
  transition: opacity 0.3s ease;
}

a:hover {
  opacity: 0.7;
}